/* header and title */
header {
    padding: 0 0 50px 0;
}

h1 {
    text-align: center;
}

.content {
    /* width: 100%; */
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: 7%;
    margin-left: 7%;
}

/* lists */
ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}
  
ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

/* buttons */
button {
    display: inline-block;
}

.add_delete {
    padding: 0 0 10px 0;
}

/* tables */
table td {
    border-top: none;
}

/* .table th, .table td { 
    border-top: none !important; 
} */